.SeasonDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.summer {
  background-color: brown;
}
.winter {
  background-color: aliceblue;
}
.SeasonDisplay.winter i {
  color: blue;
}
.SeasonDisplay.summer i {
  color: darkorange;
}

.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}
.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
